body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  width: 100%;
  height: 100%;
}

table{
  width: 70%;
}
ul,li{
  list-style-type: none;
}
#remove{
  text-align: right;
}
h4{
  height: 30%;
  align-items: center;
  justify-content: center;
}
label{
  font-size:22pt;
  font-weight: bold;
}
